@model Loja.Application.ViewModels.ProdutoViewModel

<table id="Produto" class=" table table-bordered table-hover">
    <thead>
     <tr class="">
        <th>Nome</th>
        <th>Preço</th>
        <th>Cidade</th>
     </tr>
    </thead>
    <tbody>
        
        <tr style="height: 60px;">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </tbody>
</table>